/* Container Styling */
body{
    background: white;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  /* Fade-in Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation-name: fadeIn;
  }
  
  /* Login Form Styling */
  .login-form {
    background: linear-gradient(135deg, #1d3557, #457b9d);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-form h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  
  .login-form p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #e0e0e0;
  }
  
  .login-form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #20b236;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  
  /* Mobile Responsiveness */
  @media screen and (max-width: 480px) {
    .login-form {
      padding: 15px 20px;
    }
  
    .login-form h2 {
      font-size: 1.5rem;
    }
  
    .login-form p {
      font-size: 0.9rem;
    }
  }
  